* {
    margin: 20px;
    padding: 0;
    box-sizing: border-box;
}

.index {
    background-image: url(assets/carros\ wec.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
    color: white;
}