* {
    margin: 20px;
    padding: 0;
    box-sizing: border-box;
}

.index {
    background-image: url(assets/carros\ wec.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    color: white;
}

p {
    text-align: center;
    color: white;
}

img {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid white;
}

button {
    display: block;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px auto;
}