* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-terceira-pagina {
    background-image: url('assents/fundo-index.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}